<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Book Collection</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="bg-secondary bg-gradient">

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="/">Frappe LMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          justify-content-end
          <div class="collapse navbar-collapse justify-content-end d-grid gap-2 d-md-block" id="navbarSupportedContent">
            <form class="d-flex" action="{{url_for('view_book_bp.return_book')}}" method="GET">
              <button class="btn btn-primary" type="submit">Take Return</button>
            </form>
            <form class="d-flex" action="{{url_for('view_member_bp.add_members')}}" method="GET">
                <button class="btn btn-primary" type="submit">Add Member</button>
            </form>
          </div>
        </div>
      </nav>



    <!--
<header class="bg-dark text-white text-center py-3">
        <h1 class="d-inline-block">My Book Collection</h1>
        <form class="float-end m-3" action="{{url_for('view_book_bp.return_book')}}" method="GET">
            <button type="submit" class="btn btn-primary">Take Return</button>
        </form>
        <form class="float-end m-3" action="{{url_for('view_member_bp.add_members')}}" method="GET">
            <button type="submit" class="btn btn-primary">Add Member</button>
        </form>
       
    </header>
    -->
      
    

    <main class="container mt-4">
        <section id="book-list" class="row">
            {% for book in books %}
            <div class="col-md-4 mb-4">
                <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded" style="width: 300px; height: auto;">
                    <img src="{{ url_for('static', filename='images/book-cover.jpg') }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.authors }}</p>
                    </div>
                    <form action="{{url_for('view_book_bp.get_book', book_id=book.book_id)}}" method="GET">
                         <Button type="submit" class="btn btn-primary m-2 py-2">View Book</Button>
                     </form>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>

    <!-- Scripts here -->
</body>
</html>
