<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frappe LMS</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <section id="hero">
        <div class="hero-container">
          <h1>Welcome to Frappe LMS</h1>
          <h2>A one stop online library management system for you.</h2>
          <div class="d-flex">
            <a href="/books" class="btn-get-started scrollto">Explore books</a>
          </div>
        </div>
      </section>
</body>
</html>