<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Book</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="bg-secondary bg-gradient">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="#">Return Book</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          justify-content-end
          <div class="collapse navbar-collapse justify-content-end d-grid gap-2 d-md-block" id="navbarSupportedContent">
            <form class="d-flex" action="{{url_for('view_book_bp.return_book')}}" method="GET">
              <button class="btn btn-primary" type="submit">Take Return</button>
            </form>
            <form class="d-flex" action="{{url_for('view_member_bp.add_members')}}" method="GET">
                <button class="btn btn-primary" type="submit">Add Member</button>
            </form>
          </div>
        </div>
      </nav>

    <main class="container mt-4">
        <section>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Return a Book</h5>
                    <form action="/" method="GET" class="return_book--form">
                        <div class="mb-3">
                            <label for="issue" class="form-label">Issue ID</label>
                            <input type="text" class="form-control" id="issue_id" name="issue_id" required>
                        </div>
                        <div class="mb-3">
                            <label for="book" class="form-label">Return Date</label>
                            <input type="text" class="form-control" id="return_date" name="return_date" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Take Return</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
