body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #ff4a17;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff724a;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

 

#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
  }
  
  #hero:before {
    content: "";
    background: rgba(13, 20, 26, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
    font-style: italic;
  }
  .fantasy{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    text-shadow:
    1px 1px 1px red,
    2px 2px 1px red;
    letter-spacing: 2px; 
    font-family: fantasy;
    color: #fff;
  }
  #hero .btn-get-started {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 10px 85px 10px 85px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #ff4a17;
    border: 2px solid #ff4a17;
  }
  
  #hero .btn-get-started:hover {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }
  
  #hero .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    transition: 0.5s;
    margin-left: 25px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  #hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover i {
    color: #ff4a17;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  .d-flex {
    display: flex;
    justify-content: space-between;
}

.btn-left {
    margin-right: 10px; /* Add some space between the buttons */
}

.btn-right {
    margin-left: 10px; /* Add some space between the buttons */
}
  